#page1 h2 p {
    color: white;
    font-size: 20px;
}

#mainNav li a:hover {
    color: rgb(98, 98, 182);
}

.contact_info {
    text-align: center;

}

.inner_section {
    text-align: center;
}

#page2 {
    padding-top: 50px;
}

/* PROJECT/GALLERY */
figure.effect-duke {
    background: -webkit-linear-gradient(-45deg, #34495e 0%, #cc6055 100%);
    background: linear-gradient(-45deg, #34495e 0%, #cc6055 100%);
  }
  
  figure.effect-duke img,
  figure.effect-duke p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
  }
  
  figure.effect-duke:hover img {
    opacity: 0.1;
    -webkit-transform: scale3d(2, 2, 1);
    transform: scale3d(2, 2, 1);
  }
  
  figure.effect-duke h2 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  
  figure.effect-duke p {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
    padding: 30px;
    border: 2px solid #fff;
    text-transform: none;
    font-size: 90%;
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transform-origin: 50% -100%;
    transform-origin: 50% -100%;
  }
  
  figure.effect-duke:hover h2,
  figure.effect-duke:hover p {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  
  #gallery {
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    justify-content: center;
  }


.grid {
    margin-left: 15%;
}

figcaption p {
    font-size: 20px;
    width: 90%;
}

.section-title h6 {
    font-size: 1.5em;
}

/* SKILL */

.skill {
    padding-left: 20px;
    padding-top: 20px;
}

#service .container h6 {
    font-size: 1.5em;
    color:rgb(85, 76, 76);
}

#service .container h2 {
    color: rgb(58, 58, 100);
}

.service_block h3 {
    color: rgb(58, 58, 100);
}

.service_block p {
    font-size: 1.2em;
    color:rgb(85, 76, 76);
}

/* HADER */

#header_wrapper {
    height: 70px;
}

#header_wrapper .container {
    margin-top: -10px;
}

.nav.navbar-nav a {
    margin-left: 60px;
}

/* INTRO NAMA */

.top_left_cont p {
    font-size: 30px;
    color: #ddd;
}

.top_left_cont {
    padding-top: 230px;
}


.fa-twitter {
    color: rgb(95, 121, 238);
}

.fa-facebook {
    color: rgb(84, 84, 182);
}

.fa-linkedin {
    color:rgb(17, 17, 138)
}

.linkedln a {
    color: blue;
}

.linkedin a:hover {
    color: rgb(255, 255, 255);
}

.social_links li a:hover {
    background-color: #fff;
    border-radius: 0%;
}

/* TENTANG */
#page2 h6 {
    line-height: 1.5;
    font-size: 1.5em;
}

#page2 h2 {
    color: rgb(58, 58, 100)
}

#page2 {
    width: 50%;
}

/* FOOTER */
.contact_section h6{
    font-size: 1.5em;
}

body {
    margin-left: 0px;
    padding: 0px;
}

* {
    margin: 0px;
    padding: 0px;
}

.top_left_cont p {
    font-size: 24px;
    color: #ddd;
}